<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
  <head>
    <title>Twitter Feed</title>
    <th:block th:replace="/fragments/header.html"></th:block>
  </head>
  <body>
    <div class="container">
      <div th:replace="/fragments/navbar"></div>
      <ul class="nav nav-tabs">
        <!-- filtering section for following or all -->
        <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
          <a href="/tweets">All</a>
        </li>
        <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
          <a href="/tweets?filter=following">Following</a>
        </li>
      </ul>
      <br />

      <h2>Tweets</h2>
      <div class="container panel panel-primary " th:each="tweet:${tweetList}">
        <h5>
          @<span th:text="${tweet.user.username}"></span>
          <small th:text="${tweet.date}"></small>
        </h5>
        <p th:utext="${tweet.message}"></p>
      </div>
    </div>
    <div class="container" th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
        <h3>No tweets have been created yet</h3>
    </div>
    <div class="container" th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
        <h3>No tweets have been created by your followers</h3>
    </div>
  </body>
</html>
